<% filtered_options = options.filter(function(x){return x.contract_addr==contract.contract_addr}) %>
<% if (filtered_options.length>0) {%>
  <div id="<%= contract.contract_addr %>_prices">
    <table class="table table-hover">
      <tr>
        <th colspan="2">Prices last updated: <span id="<%= contract.contract_addr %>_updated">00:00</span></th>
        <th>In-the-money limit: <%= filtered_options[0].margin %></th>
        <th>Cash <%= bundle.utility.weiToEth(filtered_options[0].cash) %> eth</th>
      </tr>
      <tr>
        <th>Option</th>
        <th>Best bid</th>
        <th>Best offer</th>
        <th>My position</th>
      </tr>
      <% filtered_options.forEach(function(option){ %>
        <tr>
          <td><%= option.strike %> <%= option.kind %></td>
          <td>
            <span style="<%= option.buy_orders && option.buy_orders.length>0 && option.buy_orders[0].order.addr==addr ? 'background: #9ff' : ''%>"><%= option.buy_orders && option.buy_orders.length>0 ? bundle.utility.roundTo(option.buy_orders[0].price,4)+" ("+bundle.utility.weiToEth(option.buy_orders[0].size)+" eth)" : "N/A" %></span>
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#sell_modal" data-price="<%= option.buy_orders && option.buy_orders.length>0 ? bundle.utility.roundTo(option.buy_orders[0].price,4) : "" %>" data-size="<%= option.buy_orders && option.buy_orders.length>0 ? bundle.utility.weiToEth(option.buy_orders[0].size) : "" %>" data-description="<%= option.expiration+" "+option.fromcur+"/"+option.tocur+" "+option.strike+" "+option.kind+"<br />(in-the-money-limit: "+(option.margin)+")" %>" data-option='<%= JSON.stringify(option) %>' data-order='<%= option.buy_orders && option.buy_orders.length>0 ? JSON.stringify(option.buy_orders[0].order) : '' %>'>Sell</button>
          </td>
          <td>
            <span style="<%= option.sell_orders && option.sell_orders.length>0 && option.sell_orders[0].order.addr==addr ? 'background: #9ff' : ''%>"><%= option.sell_orders && option.sell_orders.length>0 ? bundle.utility.roundTo(option.sell_orders[0].price,4)+" ("+bundle.utility.weiToEth(option.sell_orders[0].size)+" eth)" : "N/A" %></span>
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#buy_modal" data-price="<%= option.sell_orders && option.sell_orders.length>0 ? bundle.utility.roundTo(option.sell_orders[0].price,4) : "" %>" data-size="<%= option.sell_orders && option.sell_orders.length>0 ? bundle.utility.weiToEth(option.sell_orders[0].size) : "" %>" data-description="<%= option.expiration+" "+option.fromcur+"/"+option.tocur+" "+option.strike+" "+option.kind+"<br />(in-the-money-limit: "+(option.margin)+")" %>" data-option='<%= JSON.stringify(option) %>' data-order='<%= option.sell_orders && option.sell_orders.length>0 ? JSON.stringify(option.sell_orders[0].order) : '' %>'>Buy</button>
          </td>
          <td>
            <%= bundle.utility.weiToEth(option.position) %> eth
          </td>
        </tr>
      <% }); %>
    </table>
  </div>
<% } else { %>
  <table class="table table-hover">
    <tr>
      <td></td>
    </tr>
  </table>
<% } %>
