<div>
  <ul class="nav nav-tabs" role="tablist">
    <% first = true %>
    <% contracts.forEach(function(contract) { %>
      <% filtered_options = options.filter(function(x){return x.contract_addr==contract.contract_addr}) %>
      <li role="presentation"<% if (first) {%> class="active"<% }%>>
        <a href="#<%= contract.contract_addr %>_tab" aria-controls="<%= contract.contract_addr %>_tab" role="tab" data-toggle="tab">
          <i class="fa fa-calendar"></i>
          <% if (filtered_options.length>0) {%>
            <%= filtered_options[0].expiration+" "+filtered_options[0].fromcur+"/"+filtered_options[0].tocur %>
          <% } else { %>
            <%= contract.contract_addr.slice(0,12) %>...
          <% } %>
        </a>
      </li>
      <% first = false %>
    <% }); %>
  </ul>

  <div class="tab-content">
    <% first = true %>
    <% contracts.forEach(function(contract) { %>
      <div role="tabpanel" class="tab-pane<% if (first) {%> active<% }%>" id="<%= contract.contract_addr %>_tab">

        <div id="<%= contract.contract_addr %>_nav">
        </div>

        <div class="row">
          <div class="col-md-8">
            <div id="<%= contract.contract_addr %>_prices">
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default log-container">
              <div class="panel-heading">
                <h3 class="panel-title">Transaction log</h3>
              </div>
              <div class="panel-body">
                <div class="log">
                  <div id="<%= contract.contract_addr %>_log">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <% first = false %>
    <% }); %>
</div>
